@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Slab');

/*css reset*/
body h1, h2, p, ul{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
/*design Area*/
body {
    font-family: 'Roboto Slab', serif;
    background: url(images/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_container_wrap {
    width: 700px;
    margin: 40px auto ;
    padding: 20px 0;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.81);
}

.main_container {
    width: 640px;
    margin: 0 auto;
}

.main_header_wrap {
    background: url(images/burger-02.jpg);
    height: 600px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.81);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.main_title {
    width: 290px;
    margin: 200px 0 0 auto;
    padding: 30px;
    background-color: rgba(253, 169, 63, 0.75);
    color: #D01900;
    font-size: 30px;
}

.main_title span {
    color: #90942A;
}

.main_contents_wrap {
    text-align: center;
}

.main_contents_title {
    margin: 40px 0;
}

.contents_food_list > li {
    margin: 25px 0;    
}

.contents_food_list img {
    opacity: 0.7;
}

.contents_food_list img:hover {
    transition: 2s;
    -webkit-transform: scale(1.1);
    opacity: 1;
}

.reservation_button {
    display: block;
    width: 150px;
    padding: 10px;
    margin: 30px auto 0;
    background-color: #F66F29;
    border-radius: 20px;
}